bleach==1.5.0
click==6.7
cycler==0.10.0
decorator==4.1.2
enum34==1.1.6
h5py==2.7.1
imutils==0.4.5
Keras==2.1.2
Markdown==2.6.10
MarkupSafe==1.0
matplotlib==2.1.1
networkx==2.0
numpy==1.13.3
olefile==0.44
opencv-python==3.3.1.11
Pillow==4.3.0
protobuf==3.5.1
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.3
PyWavelets==0.5.2
PyYAML==3.12
scikit-image==0.13.1
scikit-learn==0.19.1
scipy==1.0.0
six==1.11.0
tensorflow==1.4.0
tensorflow-tensorboard==0.4.0rc3